<div class="card border-primary my-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <div class="my-2 text-left">
            <button class="btn btn-primary btn-rounded" type="button" [routerLink]="['/clientes/form']">
            Crear cliente
          </button>
        </div>
        <div *ngIf="clientes.length == 0" class="alert alert-info">
            no hay registros en la base de datos
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes.length > 0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>fecha</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of clientes">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido | uppercase }}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td>
                        <button type="button" name="button" [routerLink]="['/clientes/form', usuario.id]" class="btn btn-primary">editar</button>
                    </td>
                    <td>
                        <button type="button" name="button" (click)="delete(usuario)" class="btn btn-danger">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>